@media screen and (max-width: 768px) {

    /*Responsive for index.html starts here*/
    .navBoddy {
        width: 85%;
    }

    #searchBar {
        width: 100%;
        margin-right: 10%;
    }

    .rightItens {
        margin-left: 5%;
    }

    .rightItens button {
        width: 150%;
    }

    .mainBanner {
        width: 91.6%;
    }

    .mainBanner .card {
        width: 100%;
    }

    .card h1, .card p {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card h1 {
        font-size: 38px;
    }

    .rowContent {
        width: 20%;
    }

    .rowContent:nth-child(n + 5) {
        display: none;
    }

    .contact {
        padding: 0px;
        width: 100%;
        height: 324px;
    }

    .contact-Content {
        padding: 16px;
        width: 100%;
    }

    .content-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
        height: 364px;
    }

    .contact li {
        padding: 5% 0%;
    }

    .contact-Form {
        width: 100%;
    }

    .contact #name {
        width: 100%;
    }

    .contact #message {
        width: 100%;
    }

    /*Responsive for index.html ends here*/
    /*Responsive for login.html starts here*/
    .login {
        width: 100%;
    }

    .login-Form {
        width: 60%;
    }

    #user-Email, #user-Password {
        width: 100%;
    }

    .login-Form button {
        width: 80%;
        margin: 0 auto;
    }

    /*Responsive for login.html ends here*/
    /*Responsive for Produtos start here*/
    .rowContent-produtos {
        width: 14%;
    }

    /*Responsive for Produtos ends here*/
    /*Responsive for adicionar-produto starts here*/
    .cadastrar-produto-form {
        width: 90%;
        padding: 10% 0px;
    }

    /*Responsive for adicionar-produto ends here*/
    /*Responsive for ver-produto starts here*/
    .mainbanner {
        width: 90%;
        height: 221px;
    }

    .banner-image {
        width: 70%;
    }

    .banner-text {
        width: 100%;
    }

    /*Responsive for ver-produto ends here*/
}

@media screen and (max-width: 420px) {

    /*Responsive for index.html starts here*/
    #searchBar input {
        display: none;
    }

    #searchBar {
        padding: 0px;
        position: absolute;
        left: 91.5%;
        right: 16.47%;
        top: 6.5%;
        width: 0%;
        bottom: 16.43%;
    }

    .navBoddy {
        justify-content: left;
        width: 85%;
        margin: 0px 0px;
    }

    .leftItens {
        margin-right: 15%;
        width: 30%;
    }

    .leftItens img {
        padding: 0px;
    }

    .rightItens button {
        width: 150%;
    }

    .mainBanner {
        width: 81.9%;
    }

    .mainBanner .card {
        width: 100%;
        height: 80%;
    }

    .card h1, .card p {
        width: 100%;
        height: 26px;
        font-size: 18px;
        line-height: 26px;

    }

    .card p {
        padding-bottom: .5rem;
        font-size: 14px;
    }

    .products {
        padding: 3rem 0px;
    }

    .products-Content {
        flex-direction: row;
    }

    .rowContent {
        width: 42%;
    }

    .rowTittle {
        padding: 0px .8rem;
    }

    .rowTittle p {
        width: 57px;
        height: 16px;

        padding: 5%;
        font-size: 14px;
        line-height: 16px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 0px;
        height: 700px;
    }

    .contact-Content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        margin-top: -100%;
    }

    .content-left {
        align-items: center;
        width: 100%;
    }

    .contact li {
        text-align: center;
    }

    .contact-Form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        width: 90%;
    }

    .card-tittle h3 {
        width: 176px;
        height: 16px;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #464646;
    }

    .card-price {
        width: 80%;
    }

    .card-price p {
        width: 70%;
    }

    .card-tittle {
        width: 60%;
    }

    .card-tittle h3 {
        width: 60%;
    }

    /*Responsive for index.html ends here*/
    /*Responsive for login.html starts here*/
    .login {
        width: 100%;
    }

    .login-Form {
        width: 60%;
    }

    #user-Email, #user-Password {
        width: 100%;
    }

    .login-Form button {
        width: 60%;
        margin: 0 auto;
    }

    /*Responsive for login.html ends here*/
    /*Responsive for Produtos start here*/
    .rowContent-produtos {
        width: 42%;
        margin: 0 auto;
        margin-bottom: 5%;
    }

    /*Responsive for Produtos ends here*/
    /*Responsive for ver-produto starts here*/
    .mainbanner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        width: 100%;
        margin-bottom: 35%;
    }

    .banner-image {
        width: 100%;
        height: 100%;
        background-position: center;
    }

    .banner-text {
        width: 90%;
        height: 5%;
        padding: 0px 5%;
    }

    .banner-text h1 {
        font-size: 22px;
        line-height: 26px;
        width: 328px;
        height: 26px;
    }

    /*Responsive for ver-produto ends here*/
}